@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

#appendix-14 table{
	margin-bottom: 1em;
	margin-top: 1em;
}

#appendix-14 td{
	padding: 1em;
	vertical-align: top;
}

/* this is for consistency with cites in blockquotes */
cite{
	font-style: italic;
}

cite i{
	font-style: normal;
}

/* Centered dedication */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedication */

/* prose dedication */
#dedication-2 header{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

#dedication-2 footer{
	margin: 0 auto;
	text-align: initial;
	width: 50%;
}

#dedication-2 footer p:nth-child(1){
	margin-top: 0.5em;
	text-indent: 0;
}

#dedication-2 footer p:nth-child(2){
	text-indent: 1em;
}

#dedication-2 footer p:nth-child(3){
	text-indent: 2em;
}

#dedication-2 footer p:nth-child(4){
	text-indent: 3em;
}

#dedication-2 footer p:nth-child(5){
	font-variant: small-caps;
	text-indent: 4em;
}

#dedication-2 footer p:nth-child(6){
	margin-top: 0.5em;
	text-align: left;
	text-indent: 0;
}
/* end prose dedication */

/* quoted material in italics in page scans */
q{
	font-style: italic;
}

q i,
q em{
	font-style: initial;
}

i em,
em i{
	font-style: initial;
}

/* page scans do not italicise all-caps if within a section of italics */
i b{
	font-style: initial;
}

/* this class is for subheadings in the Addenda and Bibliography */
.note-header{
	font-style: italic;
	text-align: center;
}

/* This is for italics used specifically to show variations in manuscripts */
span.variation{
	font-style: italic;
}

/* This is to handle cases where an interruption WITHIN a semanticated and italicised phrase should not be in italics, but is also not emphasised speech, etc. */
span.unitalicised{
	font-stye: initial;
}

/* drama styling for quotations from plays */
[epub|type~="z3998:drama"] table,
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"],
em [epub|type~="z3998:persona"],
i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}
/* end drama styling */

/* letter styling */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end letters */

table{
	border-collapse: collapse;
}

td{
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: top;
}
